.parent {
    --item-width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--item-width)), 1fr));
    gap: 1.2rem;
    
    counter-reset: blueCounter;
    counter-reset: spanBlueCounter;
    counter-reset: divBlueCounter;
    counter-reset: redCounter;

    span {
        outline: 5px solid #f1c40f;
        color: #f1c40f;
        outline-offset: 2px;
        &.blue {
            counter-increment: blueCounter spanBlueCounter;
            &::before {
                content: "span blue counter " counter(spanBlueCounter);
            }
        }
    }
    div {
        outline: 5px solid #9b59b6;
        color: #9b59b6;
        outline-offset: 2px;
        &.blue {
            counter-increment: blueCounter divBlueCounter;
            &::before {
                content: "div blue counter " counter(divBlueCounter);
            }
        }
    }
    > * {
        width: var(--item-width);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // text-shadow: 0 0 1px #eee;
        font-size: 1.4rem;
        &::after, &::before {
            font-weight: bold;
            display: block;
            color: #fff;
            text-shadow: 0 0 4px black;
            font-size: 1rem;
        }
    }
    .blue {
        background-color: #1abc9c;
        counter-increment: blueCounter;
        &::after {
            content: "blue counter " counter(blueCounter);
        }
    }

    .red {
        background-color: #e74c3c;
        counter-increment: redCounter;
        &::after {
            content: "red counter " counter(redCounter);
        }
    }
}

// Uncomment one of these to see the differences
// :nth-child(odd of .red) {
//     animation: rotate 5s ease-in alternate-reverse infinite;
// }
// :nth-child(n of .blue) {
//     animation: rotate 5s ease-in alternate-reverse infinite;
// }
// :nth-child(n of span.blue) {
//     animation: rotate 5s ease-in alternate-reverse infinite;
// }
:nth-child(even of div.blue) {
    animation: rotate 5s ease-in alternate-reverse infinite;
}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}